@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* 通用設定 */
* {box-sizing: border-box;}
body, h1, h2, h3, h4,p {
    margin: 0;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
body {
    color: #080061;
    font-family: "Roboto", sans-serif;
    background-image: url(image/BACKGROUND.svg);
    background-color: #eeefff;
}
.wrap-header {
    width: 100%;
    background-color: rgba(222, 224, 234, 0.6);
    backdrop-filter: blur(8px);
    box-shadow: 0 0 50px 0 rgba(132, 161, 247, 0.228);
    position: sticky;
    top: 0px
}
.wrap-content {
    width: 800px;
    margin: 0 auto;  
}
/*header 頁首設定*/
header {
    width: 800px;
    margin: 0 auto;
    padding: 12px;
    display: flex;
}

header .logo {
    text-indent: -9999px;
    background-image: url(image/LOGO.svg);
    background-repeat: no-repeat;
    margin-right: auto;
}
header .logo a {
    display: block;
    width: 150px; height: 28px;
    overflow: hidden;
}

header ul {
    margin: 0; padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}
header ul a {
    color: black;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    display: block;
    border-radius: 40px;
    padding: 6px 20px;
    background-color: white;
}
header ul a:hover {
    color: white;
    background-color: hsl(73, 6%, 60%);
}
header .cta-button {
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin-left: auto;
    border: 0;
    border-radius: 40px;
    padding: 6px 20px;
    background-color: black;
    cursor: pointer;
}
/*main 主視覺設定*/
main {
    text-align: center;
    color: #080061;
    width: 100%; height: 350px;
    padding-top: 95px;
    margin-top: 18px;
    margin-bottom: 16px;
    border-radius: 16px;
    box-sizing: border-box;
    background-image: url(image/BG\ IMAGE.jpg);
    box-shadow: 0 0 50px 0 rgba(132, 161, 247, 0.228);
}
main h1 {
    font-size: 55px;
    font-family: "Roboto", sans-serif;
    font-weight: 650;
    text-shadow: 0 0 5px rgba(132, 161, 247, 0.228);
}
main h3 {
    font-size: 32px;
    text-shadow: 0 0 5px rgba(132, 161, 247, 0.228);
}
/*Card 小卡設定*/
section {
    width: 100%;
    display: flex;
    gap: 16px;
}
.card {
    width: 244px;
    background-color: #f3f3f2;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 50px 0 rgba(132, 161, 247, 0.228);
}
.card-content {
    padding: 16px 22px;
}
.card-title {
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 16px;
}
.card-intro {
    color: #6a6d61;
    line-height: 150%;
}
/*footer 頁尾設定*/
footer {
    color: #676464;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
footer a {
    color: #676464;
}
footer a:hover {
    color: #4f5148;
}